<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PsuhNot2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PushNot2UITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3326CC151D73AF0800B3E496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3326CC291D73AF0800B3E496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335F50A61D74F9F800C4B8A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>335F50B41D74FCD200C4B8A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
